  @import url(ACES07_REGULAR);

.stick
  {
  position: sticky;
  top: 0;
  background-color: white;
  height: 80px;
  padding-top: 10px;
  min-width: 800px;
  }

.poster
  {
    display: block;
    margin: auto;
  }

.img
  {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

video
{
  display: block;
  margin: 0 auto;
}

h1
  {
    margin-left: 18px;
    margin-top: 18px;;
    font-family: ACES07_REGULAR;
  }

  h2
  {
    font-family: ACES07_REGULAR;
    text-align: center;
  }

h3
  {
    font-family: ACES07_REGULAR;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
  }
nav
  {
    width: 500px;
    min-width: 500px;
    max-width: 1000px;
    height: 100px;
    float: right;
    margin-top: -92px;
  }

nav ul
  {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

nav li
  {
    height: 100;
    margin: 30px;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 20px;
    font-family: ACES07_REGULAR;
  }

a:link
  {
    color: black;
    text-decoration: none;
  }

a:visited
  {
    color: black;
  }

a:hover
  {
    text-shadow: 1px 1px 1px green;
  }
